<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnowIT — Платформа обучения</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;900&family=Inter:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div class="container header-inner">
            <div class="logo"><a href="/">KnowIT</a></div>
            <nav class="navbar">
              <div class="dropdown">
                <button class="dropdown-btn">Специальности ▼</button>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('main.tests_main_page', profession='Строительство и эксплуатация зданий и сооружений') }}">Строительство и эксплуатация зданий и сооружений</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Производство неметаллических строительных изделий и конструкций') }}">Производство неметаллических строительных изделий и конструкций</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Водоснабжение и водоотведение') }}">Водоснабжение и водоотведение</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Электрические станции, сети, их релейная защита и автоматизация') }}">Электрические станции, сети, их релейная защита и автоматизация</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Электроснабжение') }}">Электроснабжение</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Тепловые электрические станции') }}">Тепловые электрические станции</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Организация перевозок и управление на транспорте') }}">Организация перевозок и управление на транспорте</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Техническая эксплуатация подъемно-транспортных, строительных, дорожных машин и оборудования') }}">Техническая эксплуатация подъемно-транспортных, строительных, дорожных машин и оборудования</a></li>
                    <li><a href="{{ url_for('main.tests_main_page', profession='Информатика и вычислительная техника') }}">Информатика и вычислительная техника</a></li>

                </ul>
              </div>
            </nav>
            <div class="header-actions">
                {% if nickname == "Guest" %}
                    <a class="btn-outline" href="/login">Войти</a>
                    <a class="btn-black" href="/registration">Зарегистрироваться</a>
                {% else %}
                    <a class="btn-outline" href="/logout">Выйти</a>
                    <a href = "/profile">
                        <img src="{{ url_for('static', filename='img/unauthorized_user.png') }}" alt = "user-avatar" class = "profile-icon-img">
                    </a>
                {% endif %}
            </div>
        </div>
    </header>

        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                <div class="flash-message">
                    {% for category, message in messages %}
                      <div class="alert alert-{{ category }}">
                        {{ message }}
                      </div>
                    {% endfor %}
                </div>
              {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
        </main>
    <footer>
        <div class="container footer-inner">
            <div>KnowIT | НПК им. Е.Н. Королёва</div>
            <div>© 2026 KnowIT. Все права защищены.</div>
        </div>
    </footer>
</body>
</html>