{% extends "base.html" %}

{% block content %}
<div class="tests-container">
    <div class="tests">
        {% for test in test_cards %}
              <div class="test-card">
                  <div class="test-img"><img src="{{ url_for('static', filename='img/test_images/' ~test.profession~ '/' ~test.test_title~ '.jpg') }}" loading="lazy"></div>
                  <h4>{{ test.test_title }}</h4>
                  <a class="btn-burgundy" href="{{ url_for('main.test_page', test_title=test.test_title,question_number=1) }}">Пройти тестирование</a>
              </div>
        {% endfor %}
    </div>

    <div class ="fill-block"></div>

</div>

{% endblock %}