html,body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #8B3533;
    color: #333333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 1.1;
    color: #000000;
}

.page-container {
  flex: 1;
}

footer {
  background: #1c1c1c;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    background-color: #8B3533;
    color: white;
    align-items: center;
    height: 50px;
}

.logo-name {
    position: absolute;
    height: 40px;
    left: 20px;

}

.logo-img {
    position: absolute;
    height: 40px;
    bottom: 20px;
}

.logo-text{
    position: absolute;
    left: 45px;
    bottom: 0px;
    font-size: 24px;
    color: #190F40;
}

.login-button {
    position: absolute;
    background-color: #8B3533;
    color: #bebebe;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    right: 145px;
    bottom: 8px;
}

.reg-button-container{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

.registration-button{
    position: relative;
    background-color: #000;
    color: #bebebe;
    padding: 10px 5px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    margin-top: 7px;
}

.reg-button-container::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 200px;
    background-color: #000;
    z-index: -1;
}

.logout-button {
    position: absolute;
    background-color: #8B3533;
    color: #bebebe;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    right: 145px;
    bottom: 8px;

}

.profile-icon-img {
    position: absolute;
    width: 35px;
    border-radius: 50%;
    right: 125px;
    bottom: 8px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

main {
    padding: 20px;
    text-align: center;
}

.flash-message {
    position: relative;
    max-width: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #bebebe;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    margin-bottom: 20px;
}

.alert-error{
    color: red;
}

.welcome-container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px;
}

.welcome-container p {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}